Flask==1.1.1
flask-restplus==0.13.0
Flask-SQLAlchemy==2.4.0
Flask-Migrate==2.5.2
gunicorn==19.9.0
gevent==1.4.0
pytest==4.0.2
pytest-cov==2.6.1
pytest-mock==1.10.1
PyMySQL==0.9.3
validate_email
boto3==1.9.233
requests
requests-threads
WTForms==2.2.1
redis
markdown==2.6.6